<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
<script src="angular.min.js"></script>
<script src="app.js"></script>

    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="myapp">
   <div class="container" ng-controller="assignment">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" ng-model="fullstring" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button  ng-click="Checking()"  class="btn btn-default">Check If Too Much</button>
         </div>
         <div ng-model="result"  class="form-group message">
    {{result}}
         </div>
   </div>

</body>
</html>
